*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
}

.main{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns:280px 1200px;
    grid-template-rows: 60px 100% 50px;
    overflow-x: hidden;
    font-family: 'Alata', sans-serif;
}














