@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

:root{
  
    --mainContent: #ececec;
    --header: #f2f3f5;
    --sidebar: #fefcfe;
    --bgColorPopUp: #f3f1f3;
    --textColor: #374958;
    --accentDark: #2abd67;
    

}